/* Base geral */
html, body {
  height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #000000, #0f172a);
  color: #f1f5f9;
  overflow: hidden;
}

/* Botão menu */
.menu-toggle {
  position: fixed;
  top: 16px;
  left: 16px;
  background-color: #1e293b;
  color: #f1f5f9;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100%;
  background-color: #1e293b;
  box-shadow: none;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 10px 10px;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto; /* ✅ permite rolagem */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #334155 transparent;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 4px;
}


/* Quando o menu estiver ativo */
.sidebar.active {
  left: 0;
  box-shadow: 2px 0 5px rgba(255, 255, 255, 0.05);
  opacity: 1;
  pointer-events: auto;
}


.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f1f5f9;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar ul li {
  margin-bottom: 12px;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: #60a5fa;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #334155;
}

.sidebar ul li a.active {
  background-color: #60a5fa;
  color: #0f172a;
  font-weight: bold;
}

/* Conteúdo principal */
.main-content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
  height: 100vh;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Quando sidebar estiver ativa */
.sidebar.active ~ .main-content {
  margin-left: 250px;
}

@media (max-width: 600px) {
  .sidebar.active ~ .main-content {
    margin-left: 0;
  }
}
